<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="../static/detail.css">
</head>

<body>
   
    <div class="detail">
         <div>
             <input class="button_login" type="button" value="新增" id="create" />
         </div>
        <ul class="box">
            <div class="single">
                <li>确诊</li>
                <li>疑是</li>
                <li>接触</li>
                <li>隔离</li>
                <li>编号</li>
            </div>
        </ul>
    </div>
</body>

</html>
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script>
    var data = [{
        name:"1",
        age:'2',
        height:"3",
        sex:"4",
        code:5
    }]
    function insert() {
        var table=$(".box");
            for(var i=0;i<data.length;i++) { 
                var html = $("<div class='single'></div>");
                    html.append("<li> "+ data[i].height + "</li>");
                    html.append("<li> "+ data[i].name + "</li>");
                    html.append("<li> "+ data[i].sex + "</li>");
                    html.append("<li> "+ data[i].age + "</li>");
                    html.append("<li> "+ data[i].code + "</li>");
                    html.appendTo(table);
            }
    }
    insert()

    // create
    $('#create').click(function () {
        window.location.href = 'index.html'
    })
</script>
