<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="main">
        <div class="box">
            <p>是否确诊：</p>
            <div class="quetion_one common">
                <label>
                    <input type="radio" name="quetion_one" value="1">
                    <span>是 yes</span>
                </label>
                <label>
                    <input type="radio" name="quetion_one" value="2" checked>
                    <span>否 no</span>
                </label>
            </div>
        </div>
        <div class="box">
            <p>是否疑是：</p>
            <div class="quetion_two common">
                  <label>
                      <input type="radio" name="quetion_two" value="1">
                      <span>是 yes</span>
                  </label>
                  <label>
                      <input type="radio" name="quetion_two" value="2" checked>
                      <span>否 no</span>
                  </label>
            </div>
        </div>
        <div class="box">
            <p>是否密切接触：</p>
            <div class="quetion_three common">
                <label>
                    <input type="radio" name="quetion_three" value="1">
                    <span>是 yes</span>
                </label>
                <label>
                    <input type="radio" name="quetion_three" value="2" checked>
                    <span>否 no</span>
                </label>
            </div>
        </div>
        <div class="box">
            <p>是否隔离人员：</p>
            <div class="quetion_four common">
                <label>
                    <input type="radio" name="quetion_four" value="1">
                    <span>是 yes</span>
                </label>
                <label>
                    <input type="radio" name="quetion_four" value="2" checked>
                    <span>否 no</span>
                </label>
            </div>
        </div>
        <div class="box last">
            <p><span>备注：</span>
                <textarea>
                </textarea>
            </p>
            
        </div>
        <input class="button_login" type="button" value="上报" id="submit-login" />
        
    </div>
</body>
</html>
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script>
var quetion_one=quetion_two=quetion_three=quetion_four='2';
$(".quetion_one").click(function() {
    var e = event || window.event;
    if (e.target && e.target.nodeName.toUpperCase() == "INPUT") {
        quetion_one = e.target.value
    }
});
$(".quetion_two").click(function() {
    var e = event || window.event;
    if (e.target && e.target.nodeName.toUpperCase() == "INPUT") {   
        quetion_two = e.target.value
    }
});
$(".quetion_three").click(function() {
    var e = event || window.event;
    if (e.target && e.target.nodeName.toUpperCase() == "INPUT") {     
        quetion_three = e.target.value
    }
});
$(".quetion_four").click(function() {
    var e = event || window.event;
    if (e.target && e.target.nodeName.toUpperCase() == "INPUT") {        
        quetion_four = e.target.value
    }
});
$('#submit-login').click(function () {
    // 上报提交
})
</script>