<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户登陆</title>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.2/??flexible_css.js,flexible.js"></script>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.0.1/weui.min.css">
    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="../static/login.css">
    
</head>
<body>
    <div class="login">
        <div class="text">
            <input type="text" placeholder="请输入用户名" class="user" required>
        </div>
        <div class="text">
            <input type="password" placeholder="请输入密码" class="password" maxlength="15" required>
        </div>
        <div class="verification">
            <input placeholder="请输入验证码" type="text" class="verification_input">
            <canvas id="myCanvas"></canvas>
        </div>
        <input class="button_login" type="button" value="登录" id="bt-login" />
    </div>
    <canvas id="canvas"></canvas>
</body>
</html>
<script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.2.1/weui.min.js"></script>
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script src="../static/js/vodify.js"></script>
<script>
    var code;
    $('#myCanvas').click(function () {
    createCode()
    })
    createCode()
    var submit = $('#bt-login')
    submit.click(function () {
        var user = $('.user').val()
        var password = $('.password').val()
        var inputCode= $('.verification_input').val()
        if (user && password&&inputCode&&inputCode.toUpperCase()===code.toUpperCase()){
        // 这里写提交请求
        window.location.href='index.html'
        }
    })

</script>