@charset "utf-8";
.history_box {
    padding: 0 0.5rem 0.5rem 0.5rem;
}
.history_box .button_login {
    display: block;
    width: 1rem;
    border-radius: 2px;
    line-height: 1rem;
    color: #fff;
    background: blue;
}
.single{
    width: 100%;
    font-size: 0.5rem;
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
}
.single li{
    width: 20%;
    text-align: center;
    line-height: 1rem;
}