@charset "utf-8";
.detail{
    padding: 1rem;
}
.detail .button_login{
    display: block;
    width: 4rem;
    border-radius: 2px;
    line-height: 36px;
    color: #fff;
    background: blue;
}
.single{
    width: 100%;
    margin-top: 1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
}
.single li{
    width: 20%;
    text-align: center;
    line-height: 2.5rem;
}