@charset "utf-8";

.main{
    height: 100%;
    font-size: 0.5rem;
}
.main .box{
    padding: 0 0.5rem;
    margin-top: 0.5rem;;
}
.main .common{
    display: flex;
    align-items: center;
}
.main .common label{
    display: flex;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    align-items: center;
}
input[type="radio"]{
    margin-right: 0.5rem;
        width: 0.5rem;
        height: 0.5rem;
}
.main .common input{
    margin-left: 0.5rem;
}
.main .last{
    display: flex;
    margin-top: 0.5rem;
}
.main .last p{
    flex: 1;
    display: flex;
}
.main .last p textarea {
    width: 80%;
    line-height: 1rem;
    height: 1rem;
    padding: 0.1rem;
    outline: none;
    resize: none;
}
.main .button_login{
    display: block;
    width: 60%;
    border-radius: 2px;
    margin: 1rem auto;
    line-height: 36px;
    color: #fff;
    background: blue;
}