@charset "utf-8";
.login{
    width: 100%;
    height: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 0.5rem;
    transform: translate(-50%,-50%);
    text-align: center;
}
.weui-form{
    margin-top: 1rem;
}
.login .weui-btn_primary {
    width: 80%;
    border-radius: 2px;
    margin: 0 auto;
    line-height: 1rem;
    color: #fff;
    margin-top: 1rem;
}
.weui-input{
    padding-left: 0.5rem;
}

