@charset "utf-8";
.login{
    width: 100%;
    height: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 0.5rem;
    transform: translate(-50%,-50%);
    text-align: center;
}
.login .button_login{
    width: 80%;
    border-radius: 2px;
    margin: 0 auto;
    line-height: 1rem;
    color: #fff;
    margin-top: 1rem;
    background: -webkit-linear-gradient(top, #997679 0%, #997679 100%)
}
.login .text input {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0.2rem;
    width: 80%;
    box-sizing: border-box;
    margin-top: 0.5rem;
}
.login .verification{
    width: 80%;
    height: 1rem;
    margin: 0 auto;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
}
.login .verification #myCanvas {
    width: 40%;
    height: 1rem;
    background: #997679;
    border-radius: 3px;   
    margin-left: 0.5rem;
}
.login .verification input {
    width: 50%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    padding-left:0.25rem;
    
}